version: '2'

services:

  applications:
    image: tianon/true
    volumes:
        - ../:/var/www


### Workspace Utilities Container ###########################

  workspace:
      build:
          context: ./workspace
      volumes_from:
          - applications
      extra_hosts:
          - "dockerhost:10.0.75.1"
      ports:
         - "2222:22"
      tty: true

### Rails Container ###########################
  mariadb:
    build:
        context: ./mariadb
    volumes_from:
        - applications
    ports:
       - "3306:3306"
    links: 
      - workspace
    environment:
      MYSQL_DATABASE: homestead
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root

### Rails Container ###########################

  rails:
    build:
        context: ./rails
    volumes_from:
        - applications
    ports:
       - "3009:3000"
    tty: true
    links: 
      - workspace

### Elasticsearch Utilities Container ###########################

  elasticsearch:
    build:
        context: ./elasticsearch
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
      - elasticsearch-plugins:/usr/share/elasticsearch/data

### Nginx Container ########################################

  nginx:
    build:
      context: ./nginx
      args:
          - PHP_UPSTREAM=php-fpm
    ports:
        - "80:80"
        - "443:443"
        - "8880:8880"
        - "8443:8443"
    links:
      - php-fpm
      - workspace
    volumes_from:
      - applications
    volumes:
      - ./logs/nginx/:/var/log/nginx
      - ./nginx/sites/:/etc/nginx/sites-available

### MySQL Container #########################################

  mysql:
      build: 
        context: ./mysql
        args:
            - MYSQL_DATABASE=homestead
            - MYSQL_USER=homestead
            - MYSQL_PASSWORD=secret
            - MYSQL_ROOT_PASSWORD=root
      volumes:
          - mysql:/var/lib/mysql
      ports:
          - "3306:3306"

### NodeJS Container ########################################

  nodeserver:
    build: 
      context: ./node
    ports:
        - "6001:6001"
        - "3000:3000"
    volumes_from:
            - applications
    volumes:
      - "./app:/src/app"
    tty: true
    links: 
      - redis
      - "mongo"

### MongoDB Container #######################################

  mongo:
      build: ./mongo
      ports:
          - "27017:27017"
      volumes:
          - mongo:/data/db

### Redis Container #########################################


  redis:
    build: ./redis
    volumes:
        - redis:/data
    ports:
        - "6379:6379"
    extra_hosts:
      - "dockerhost:10.0.75.200"

### Minio Container #########################################

  minio:
      build: ./minio
      volumes:
          - minio:/export
      ports:
        - "9000:9000"
      environment:
        MINIO_ACCESS_KEY: access
        MINIO_SECRET_KEY: secretkey

### phpMyAdmin Container ####################################

  phpmyadmin:
      build: ./phpmyadmin
      environment:
          PMA_ARBITRARY: 1
          MYSQL_USER: homestead
          MYSQL_PASSWORD: secret
          MYSQL_ROOT_PASSWORD: root
      ports:
          - "8080:80"
      links:
          - "mariadb:db"
### PHP-FPM Container #######################################

  php-fpm:
    build:
        context: ./php-fpm
    volumes_from:
        - applications
    expose:
        - "9000"
    extra_hosts:
        # IMPORTANT: Replace with your Docker Host IP (will be appended to /etc/hosts)
        - "dockerhost:10.0.75.1"
    environment:
        # IMPORTANT: Set the Remote Interpreter entry matching name to `laravel`
        - PHP_IDE_CONFIG=serverName=tukada

### Volumes Setup ###########################################

volumes:
  redis:
      driver: "local"
  rails:
      driver: "local"
  mysql:
      driver: "local"
  phpmyadmin:
      driver: "local"
  mongo:
      driver: "local"
  sessions:
      driver: "local"
  elasticsearch-data:
      driver: "local"
  elasticsearch-plugins:
      driver: "local"
  minio:
      driver: "local"